<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>flask_docs</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="hidden-content">
            <audio id="audio-player" loop>
                <source src="srbs.mp3" type="audio/mpeg" />
            </audio>
            <p id="text">
            Hello Wolrd!!
	    	      <br /><br />
            GG
            </p>
        </div>
    </body>
</html>
